<div class ="w50" id="student">
    Sangbong Park / 8692765
</div>

<nav class="w50">
    <div class="container">
        <ul>
            <li>
                <a href="/">Order Fodd</a>
            </li>
            <li>
                <a href="/lists">View Orders</a>
            </li>
        </ul>
    </div>

</nav>