 <%- include('_layouts/header') -%>
 <title>Assignment3 | Sangbong Park</title>
</head>
<section id="section">
    <div class="container">
        <form name="form" action="/" method="post">
            <div id="items">
                <h1>Programming Languages Courses</h1>
                <div class="html imageBox">
                    <input type="checkbox" name="html" id="html">
                    <label for="html"><i class="fab fa-html5 fa-10x"></i></label>
                    <p>HTML $5</p>
                </div>
                <div class="nodejs imageBox">
                    <input type="checkbox" name="nodejs" id="nodejs">
                    <label for="nodejs"><i class="fab fa-node-js fa-10x"></i></label>
                    <p>Node.js $5</p>
                </div>
                <div class="css imageBox">
                    <input type="checkbox" name="css"id="css">
                    <label for="css"><i class="fab fa-css3-alt fa-10x"></i></label>
                    <p>CSS $5</p>
                </div>
                <div class="javascript imageBox">
                    <input type="checkbox" name="javascript" id="javascript">
                    <label for="javascript"><i class="fab fa-js-square fa-10x"></i></label>
                    <p>Javascript $5</p>
                </div>
            </div>
            
            <div id="receipt">
                <h1>Customer Information</h1>
                <div class="fieldset" id="mandatory">
                    <div class="formbox">
                        <label for="username">Username</label>                        
                        <input type="text" name="username" id="username" placeholder="Please enter name">
                    </div>
                    <div class="formbox">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="address" placeholder="Please enter  address" >
                    </div>

                    <div class="formbox">
                        <label for="province">Province</label>
                        <select name="province" size="1" id="province">  
                            <option value="AB"> AB </option>  
                            <option value="BC"> BC </option>  
                            <option value="MB"> MB </option>  
                            <option value="NT"> NT </option>  
                            <option value="NU"> NU </option>  
                            <option value="QC"> QC </option>  
                            <option value="SK"> SK </option>  
                            <option value="YT"> YT </option>  
                            <option value="ON"> ON </option>  
                            <option value="NB"> NB </option>  
                            <option value="NL"> NL </option>  
                            <option value="NS"> NS </option>  
                            <option value="PE"> PE </option>  

                        </select>  
                    </div>
                </div>


                <div class="fieldset" id="nonmandatory">
                    <div class="formbox">
                        <label for="city">City</label>
                        <input type="text" name="city" id="city" placeholder="Please enter city" >
                    </div>
                    <div class="formbox">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="phone" placeholder="Please enter phone number">
                    </div>
                    <div class="formbox">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="Please enter email">
                    </div>

                </div>
                <div class="fieldset" id="submit">
                        <%
                            if(typeof errors !== 'undefined'){
                                for(var error of errors){
                                    %>
                                    <label><%= error.msg %></label><br>
                                    <%
                                }
                            }                  
                        %>
                    <label id="message"></label>
                    <input type="submit" id="btnSubmit" value="Generate Receipt">
                </div>
            </div>
        </form>
    </div>
</section>
<%- include('_layouts/footer') -%>