<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e5afb682fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">


<body>
    <header>
        <div class="container">
            <div id="logo"><i class="fas fa-brain"></i>SP Academy</div>
            <div id="search"><i class="fas fa-search"></i>SEARCH FOR COURSES</div>
            <div id="menu"><a href="#"><i class="fas fa-user"></i>Sign Up</a> </div>
    </header>