*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: #645A53;

}

a{
    text-decoration: none;
    color: #645A53;
}

a:hover{
    
    color: #0F7C90;
}

nav{
    width: 634px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 3rem;

}

nav, form, .box{
    background-color: #FBFBF8;
}

nav a{
    margin: 1rem 5rem;
    text-decoration: none;

}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 600px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form, .box{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3rem 1rem;
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formBox{
    margin-top: 0.3rem;
}

input[type="text"],label,span{
    display:inline-block;
    width: 250px;
    height: 2rem;
    color: #645A53;
}

select{
    width: 253px;
    height: 2rem;
}

input[type="submit"]{
    width: 510px;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}

input:hover,select:hover{
    background-color: #dfcdc0;
    color: rgb(76, 85, 76);
}

span{
    text-align: right;
}

.orderLists{
    display: grid;
    grid-template-columns: repeat(11,110px);
    border: 1px black solid;
    margin-top: 2rem;
    border-radius: 5px;
    font-size: 0.5rem;
}

.orderLists div{
    text-align: center;
    padding: 0.5rem;
}