<%- include('_layouts/header') -%>
<%- include('_layouts/navigation') -%>
<main>
    
    <div class="container">
        <h1>MY SHOP</h1>
        <form action="/" method="post">
            <div class="formBox">
                <label for="name">Name* : </label>
                <input type="text" name="name">
            </div>
            <div class="formBox">
                <label for="email">Email* : </label>
                <input type="text" name="email">
            </div>
            <div class="formBox">
                <label for="phone">Phone* : </label>
                <input type="text" name="phone" placeholder="123-123-123">
            </div>
            <div class="formBox">
                <label for="address">Address* : </label>
                <input type="text" name="address">
            </div>
            <div class="formBox">
                <label for="city">City* : </label>
                <input type="text" name="city">
            </div>
            <div class="formBox">
                <label for="postcode">Post Code* : </label>
                <input type="text" name="postcode" placeholder="X9X X9X">
            </div>
            <div class="formBox">
                <label for="province">Province* : </label>
                <select name="province">
                    <option value="ON,0.08"> ON </option>  
                    <option value="AB,0"> AB </option>  
                    <option value="BC,0.07"> BC </option>  
                    <option value="MB,0.07"> MB </option>  
                    <option value="NT,0"> NT </option>  
                    <option value="NU,0"> NU </option>  
                    <option value="QC,0.09975"> QC </option>  
                    <option value="SK,0.06"> SK </option>  
                    <option value="YT,0"> YT </option>  
                    <option value="NB,0.1"> NB </option>  
                    <option value="NL,0.1"> NL </option>  
                    <option value="NS,0.1"> NS </option>  
                    <option value="PE,0.1"> PE </option>  
                </select>
            </div>
            <div class="formBox">
                <label for="product1">Product1 : </label>
                <input type="text" name="product1">
            </div>                
            <div class="formBox">
                <label for="product2">Product2 : </label>
                <input type="text" name="product2">
            </div>                
            <div class="formBox">
                <label for="product3">Product3 : </label>
                <input type="text" name="product3">
            </div>
            <div class="formBox">
                <label for="deliveryTime">Delivery Time : </label>
                <select name="deliveryTime">
                    <option value="10"> 3 Days </option>  
                    <option value="20"> 2 Days </option>  
                    <option value="30"> 1 Day </option>  
                </select>
            </div>
            <div class="formBox">
                <%
                if(typeof(errors) != 'undefined'){
                    for(var error of errors){
                    %>
                    <p class="errors"><%= error.msg %></p>
                    <%
                    }
                }
                %>
            </div>

            <input type="submit" name="submit" value="PLace Order">
        
        </form>
    </div>
</main>
<%- include('_layouts/footer') -%>